server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=0

        - id: order-service
          uri: http://order-service:8082
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=0

      default-filters:
        - AddResponseHeader=X-Response-Time, "powered-by-gateway"

management:
  endpoints:
    web:
      exposure:
        include: "*"
